@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary: #ccc;
  --secondary: #008000;
  --tertiary: #e1e1e1;
}
header {
  width: 100%;
  height: 80px;
}
.titulo {
  margin-top: 5px;
  margin-left: 8px;
}
.titulo a {
  display: inline;
  color: var(--secondary);
  font-size: 40px;
  font-weight: bold;
}
.navbar {
  position: fixed;
  right: 8px;
  top: 8px;
}
.navbar ul li {
  display: inline;
  /* background: red; */
}
.navbar ul li a {
  color: #000;
}
.tabs {
  display: block;
  /* background: red; */
}
.tabs ul {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  padding-left: 8px;
}
.tabs ul li {
  display: inline;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-radius: 20% 20% 0 0;
  padding: 10px 10px;
}
.tabs ul li a {
  color: #000;
}
.tabs ul li:active {
  background: var(--primary);
}
.tabs ul li a:hover {
  text-decoration: underline;
}
.box {
  border: 1px solid #000;
}
.proy-box {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 20px;
}
.proy-desc {
  width: 45%;
  display: inline;
  margin: 10px;
}
.proy-titulo {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  width: auto;
  margin-bottom: 5px;
}
.proy-desc a:hover {
  text-decoration: underline;
}
.proy-miembros {
  width: 45%;
  display: inline;
  border: 1px solid var(--primary);
  background: var(--primary);
  margin: 10px;
  padding: 10px;
}
.proy-subtitulo {
  margin-bottom: 5px;
}
.icono {
  margin: 5px;
}
.active {
  background: var(--primary);
}
.subtitulo-principal {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
.nuevo {
  /* background-color: red; */
  position: fixed;
  right: 0;
  text-align: end;
  margin-right: 10px;
  color: var(--secondary);
}
.contenedor {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.tabla tr:first-child {
  background: var(--primary);
}
.tabla th,
.tabla td {
  border: 1px solid #ddd;
  padding: 10px 5px;
}
.icono-op {
  margin: 0;
  padding: 0;
  color: var(--secondary);
}
.options {
  text-align: center;
}
