.proy-new {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.group {
  margin: 20px 0;
}
.group textarea {
  width: 100%;
  resize: none;
}
.fila {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
